body {
    background-image: url("ln.jpg");
    border-bottom:20px solid #82E0AA;
}
.jumbotron {
  text-align: center;
  font-family: serif;
  font-style: italic;
}
.play {
  text-align: center;
  font-size: 25px;
}
.players {
  font-size: 22px;
}
.playersName {
  font-size: 22px;
}
#tag {
  font-size: 25px;
}
h1 {
  color:#FF0000;
}
h2 {
  color:#1431AB;
  font-family: fantasy;
}
